
#scroll-arrow {
animation: floating 1s ease;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(.54,.24,.65,.95);
animation-direction: alternate;
width: 300%;
z-index: -5;
}

.reveal-arrow {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s linear;
}

.hide-arrow {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s linear;
}

@keyframes floating {
  0% {transform: translateY(0)}
  100% {transform: translateY(-25px)}
}



