h1, h5, h4{
  text-align: center;
}

h1 {
  padding-top: 12%;
}

h4 {
  width: 20%;
  margin: auto;
  padding-top: 3%;
}

.learn {
  width: 50%;
  margin: auto;
}

.first-block {
  background-color: black;
  margin-top: 400px;
  height: 1000px;
}
