.navbar {
  height: 70px;
  background-color: #FFF;
  
  .brand {
    font-size: 1.8em;
    padding-bottom: 10px;
    color: #000 !important;

    &:hover {
      color: #000 !important;
    }
  }

  .nav-link {
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 20px;
  }

    a  {
    color: #000 !important;

    &:hover {
      color: red;
    }
  }
}

// .brand:hover {
//   color: #FFF;
// }